*{
    margin: 0;
    padding: 0;
}
header{
    background-color:aquamarine;
    height: 80px;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    color:rgb(240, 35, 240);
   font-size: 3rem;

}

a{
    color:blueviolet;
    text-decoration: none;
    font-size: 2rem;
    
   
}
html{
    font-size: 62.5%;
}
#sobre{
    background-color: magenta;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#conteudo{
    background-color: coral;
height: 100vh;
}
#contato{
    background-color: blue;
    height: 100vh;

}
.pai{
    background-color: bisque;
    width: 80vw;
    min-height: 50vh;
    
}


p{
   font-size: 2rem;

}





